<% include header %>

<section>
    <h4 id="titre">Liste de course</h4>
    <div>
        <ul id="trier" class="nav justify-content-center">
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem</a>
            </li>
        -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Préférences alimentaires</a>
                <div id="aliment" class="dropdown-menu">
                    <span class="dropdown-item">Vegétarien</span>
                    <span class="dropdown-item">Halal</span>
                    <span class="dropdown-item">Sans gluten</span>
                    <span class="dropdown-item">Protéïné</span>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Allergies</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Arachides</a>
                    <a class="dropdown-item" href="#">Lait</a>
                    <a class="dropdown-item" href="#">Fruits de mer</a>
                    <a class="dropdown-item" href="#">Noix</a>
                    <a class="dropdown-item" href="#">Oeufs</a>
                    <a class="dropdown-item" href="#">Poissons</a>
                    <a class="dropdown-item" href="#">Blé</a>
                    <a class="dropdown-item" href="#">Soja</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Labels qualité</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Bio</a>
                    <a class="dropdown-item" href="#">Label Rouge</a>
                    <a class="dropdown-item" href="#">Pêche durable</a>
                    <a class="dropdown-item" href="#">Sans OGM</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Rayon</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Viandes</a>
                    <a class="dropdown-item" href="#">Poissons</a>
                    <a class="dropdown-item" href="#">Pains</a>
                    <a class="dropdown-item" href="#">Epiceries</a>
                    <a class="dropdown-item" href="#">Fruits et légumes</a>
                    <a class="dropdown-item" href="#">Surgelés</a>
                    <a class="dropdown-item" href="#">Laitiers</a>
                    <a class="dropdown-item" href="#">Boissons</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Trier</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Promotions</a>
                    <a class="dropdown-item" href="#">Prix croissant</a>
                    <a class="dropdown-item" href="#">Prix décroissant</a>
                </div>
            </li>
        </ul>
    </div>
</section>
 
<form action="/postres" method="post">
    <section id="service">
        <div class="container">
            <div class="row">
               <% for (var i =0; i < ingredients.length ; i++) { %>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="card">

                        <div class="card-body">
                            <h4><%= ingredients[i].nom %></h4>
                            <img src="/images/ingrédients/<%=ingredients[i].photo %>" class="card-img-top" alt="Image_404" style="width: 150px; height: 150px; margin: auto;">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name='food' value="<%= ingredients[i].id %>" id="<%= ingredients[i].nom %>" >
                            <label class="form-check-label" for="<%= ingredients[i].nom %>" > 
                                <%= ingredients[i].nom %>  <%= ingredients[i].id %>
                            </label>
                            
                        </div>

                    </div>

                </div>
                    
                <% } %>
                </div>

                <input id="form" name="form" type="hidden" value="valider">
                    <div class="row pt-3 pb-3">
                        <button type="submit"  class="btn btn-primary btn-test" style="margin-top: 5em;"> Valider </button>
                    </div>
            </div>
        </div>
    </section>
</form>

<% include footer %>
