<% include header %>
<!-- mathieu -->

<section class="container">
    <a class="btn btn-primary" href="#collapsadd" data-toggle="collapse" aria-expanded="false" aria-controls="collapsadd">Ajouter un nouvel membre</a>
    <div id="collapsadd" class="collapse">
        <h4 class="mt-3">Ajouter un nouvel membre</h4>
        <div class="row m-3">
            <form action="/famille" method="post">
                <input id="form" name="form" type="hidden" value="add">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Nom">Nom</label>
                        <input type="text" class="form-control" id="Nom" name="nom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="type">Enfant ou adulte ? </label>
                        <select id="type" class="form-control" name="type">
                            <option selected value="0">Adulte</option>
                            <option value="1">Enfant</option>
                        </select>
                    </div>
                </div>
                <fieldset>
                    <legend>Veuillez sélectionner vos intérêts :</legend>
                    <% for (allSA of allSA){ %>
                        <div>
                            <input type="checkbox" id="<%= allSA.id %>" name="specAlim" value="<%= allSA.id %>">
                            <label for="coding"><%= allSA.nom %></label>
                        </div>
                    <% } %>
                </fieldset>
                <button type="submit" class="btn btn-outline-success">+ Ajouter</button>
            </form>
        </div>
    </div>

    <h4>Modifier ma famille actuel</h4>
    <div class="row">
        <% for (famille of famille){ %>
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= famille.nom %></h5>
                    <% if (famille.type == 1 ){ %>
                        <h6 class="card-subtitle mb-2 text-muted">Enfant</h6>
                    <% } else { %>
                        <h6 class="card-subtitle mb-2 text-muted">Adulte</h6>
                    <% } %>
                    <form action="/famille" method="post">
                        <input id="form" name="form" type="hidden" value="remove">
                        <input id="id" name="id" type="hidden" value="<%= famille.id %>">
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                    <a href="/modifier_famille/<%= famille.id %>" class="btn btn-outline-warning">Modifier</a>
                    <a class="btn btn-primary" href="#collapsespec_<%= famille.nom %>" data-toggle="collapse" aria-expanded="false" aria-controls="collapsespec">Spec Alim</a>
                    <ul id="collapsespec_<%= famille.nom %>" class="collapse list-group list-group-flush">
                        <% var loop = specAlim; %>
                        <% for (loop of loop){ %>
                            <% if (famille.id == loop.id_famille ){ %>
                                <li class="list-group-item"><%= loop.nom %></li>
                            <% } %>
                        <% } %>
                    </ul>

                </div>
            </div>
        <% } %>

        <div class="card m-1" style="width: 18rem;">
            <form action="/famille" method="post">
                <div class="row pt-3">
                  <input type="text" placeholder="Prénom" class="col-md-8 offset-md-1">
                </div>
                <div class="row pt-3">
                    <div class="form-check form-check-inline offset-md-1">
                      <input class="form-check-input" type="radio" name="age" id="ageChoixAdulte" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Adulte</label>
                    </div>
                    <div class="form-check form-check-inline offset-md-1">
                      <input class="form-check-input" type="radio" name="age" id="ageChoixEnfant" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Enfant</label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

<% include footer %>
