<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Modifier l'entourage</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <section>
        <% for (data of data){ %>
            <form action="/modifier_famille/<%= data.id %>" method="post">
                <input id="form" name="form" type="hidden" value="add">
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="Nom">Nom</label>
                        <input type="text" class="form-control" id="Nom" name="nom" value="<%= data.nom %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="type">Enfant ou adulte ? </label>
                        <select id="type" class="browser-default custom-select" name="type">
                            <% if ( data.type == 0){ %>
                                <option selected value="0">Adulte</option>
                                <option value="1">Enfant</option>
                            <% } else{ %>
                                <option value="0">Adulte</option>
                                <option selected value="1">Enfant</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group p-1 m-3">
                    <h5>Veuillez sélectionner vos intérêts :</h5>
                    <% for (coched of coched){ %>
                        <div class="control-group form-check">
                            <input type="checkbox" class="checked" id="<%= coched.id %>" name="specAlim" value="<%= coched.id %>" checked>
                            <label for="coding" class="form-check-label"><%= coched.nom %></label>
                        </div>
                    <% } %>
                    <% for (uncoched of uncoched){ %>
                        <div class="form-group form-check">
                            <input type="checkbox" class="" id="<%= uncoched.id %>" name="specAlim" value="<%= uncoched.id %>" >
                            <label for="coding" class="form-check-label"><%= uncoched.nom %></label>
                        </div>
                    <% } %>
                </fieldset>
                <button type="submit" class="btn btn-outline-success offset-1">
                  <svg class="bi bi-plus" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                  </svg>
                  Ajouter
                </button>
            </form>
        <% } %>
    </section>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/javascripts/script.js"></script>

</html>
