        <% include header %>



       
                   
                
                    
                   
       


<form action="/panier" method="post">
    <input id="form" name="form" type="hidden" value="removePanier">
      
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col">ID_Utilisateur</th>
                  <th scope="col">Nom Ingrédient</th>
                  <th scope="col">Bouton </th>
                </tr>
              </thead>
            <% for (var i =0; i < panier.length ; i++) { %>
              <tbody>
                <tr>
                  <th scope="row"><%= [i] %></th>
                  <td><%= panier[i].id_utilisateur %></td>
                  <td><%= panier[i].nom %></td>
                  <td><button type="submit" name="nom" value="<%= panier[i].nom %>" class="btn btn-outline-danger">Supprimer</button></td>
                </tr>
              </tbody>
              <% } %>
            </table>
         
 </form>

 <section>
    <h4 id="titre">Liste de Magasin</h4>
</section>


<section id="service9">
    <div class="container">
        <div class="row">
        
            <% for (var i =0; i < magasin_dispo.length ; i++) { %>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: left;">
                    
                    <div class="card">
                        <div class="card-body overflow-auto">
                            <h4> ID_magasin : <%= magasin_dispo[i].id_magasin %></h4>
                            <p>Nom : <%= magasin_dispo[i].nom %></p
    
                            <p>Prix du panier : <%= magasin_dispo[i].cout %> €</p>
                        </div>
                    </div>

                </div> 
            <% } %>           
        </div>
    </div>
</section>
        <% include footer %>